@model List<Emre.MvcWebUI.Models.ProductModel>
@{
    var selectedModel = Url.RequestContext.RouteData.Values["action"];
    //Viewleri ayırmak için
}


<div class="row">
    @foreach (var urun in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card-deck">
                <div class="card">
                    <img class="card-img-top resize" src="/Upload/@urun.Image" alt="@urun.Name">
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="/Home/Details/@urun.Id">@urun.Name</a>
                        </h4>
                        <p class="card-text pt-2 description">@urun.Description</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted product-price">
                            <i class="fa fa-dollar-sign"></i>
                            @urun.Price
                        </small>
                        <a href="/Home/Details/@urun.Id" class="btn btn-default btn-sm float-right">
                            <i class="fa fa-angle-double-right"></i>
                            Ürünü incele
                        </a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>



